// Table of Contents
//
// a. Base
// b. Grid
// c. Global
// d. Media Query Ranges
// e. Typography
// f. Block Grid

// a. Base
// - - - - - - - - - - - - - - - - - - - - - - - - -

$rem-base: 14px;

// Allows the use of rem-calc() or lower-bound() in your settings
@import 'modules/functions';

// The default font-size is set to 100% of the browser style sheet (usually 16px)
// for compatibility with browser-based text zoom or user-set defaults.

// Since the typical default browser font-size is 16px, that makes the calculation for grid size.
// If you want your base font-size to be different and not have it affect the grid breakpoints,
// set $rem-base to $base-font-size and make sure $base-font-size is a px value.
$base-font-size: 14px;

// The $base-font-size is 100% while $base-line-height is 150%
$base-line-height: 1;

// We use this to control whether or not CSS classes come through in the gem files.
$include-html-classes: true;
$include-print-styles: true;
$include-html-global-classes: $include-html-classes;

// b. Grid
// - - - - - - - - - - - - - - - - - - - - - - - - -

$include-html-grid-classes: $include-html-classes;
// $include-xl-html-grid-classes: false;

$row-width: rem-calc(1260);
$total-columns: 12;
$column-gutter: rem-calc(30);

// c. Global
// - - - - - - - - - - - - - - - - - - - - - - - - -

// We use these to define default font stacks
$body-font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$body-font-style : normal;
$body-font-weight: normal;

// We use these to define default font weights
$font-weight-normal: normal;
$font-weight-bold: bold;

// We use these as default colors throughout
$primary-color: #000;
$secondary-color: #8e8671;

// d. Media Query Ranges
// - - - - - - - - - - - - - - - - - - - - - - - - -
$small-range: (0em, 40em);
$medium-range: (40.0625em, 64em);
$large-range: (64.0625em, 90em);
$xlarge-range: (90.0625em, 120em);
$xxlarge-range: (120.0625em, 99999999em);

// e. Typography
// - - - - - - - - - - - - - - - - - - - - - - - - -

$paragraph-font-family: inherit;
$paragraph-font-weight: normal;
$paragraph-font-size: 1rem;
$paragraph-line-height: 1.4;

// f. Block Grid
// - - - - - - - - - - - - - - - - - - - - - - - - -

$include-html-block-grid-classes: $include-html-classes;
$include-xl-html-block-grid-classes: false;

// We use this to control the maximum number of block grid elements per row
$block-grid-elements: 12;
$block-grid-default-spacing: rem-calc(20);

$align-block-grid-to-grid: true;
@if $align-block-grid-to-grid {$block-grid-default-spacing: $column-gutter;}

// Enables media queries for block-grid classes. Set to false if writing semantic HTML.
$block-grid-media-queries: true;

