.header_container {
    background-image: url('/application/images/background_galas.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size:cover;
    width:100%;
    height: 445px;

    > .column {
        padding-left: em(30);
        padding-right: em(30);
    }

    header {
        padding:50px 0 0 0;

        .logo {
            display: block;
            position: absolute;
            width: 296px;
            height: 288px;
            top:17px;
            left:35px;
            background-image: url('/application/images/comediestar-logo.png');
            background-position: center top;
            background-repeat: no-repeat;
        }

        ul {
            float:right;
            li {
                display: inline-block;
            }

            &.barre_technique {
                a {
                    font-size: em(16);
                    color:#3ab596;
                    font-weight:400;

                    &.courriel:before {
                        @include fa-icon();
                        content: $fa-var-envelope-o;
                    }
                    &.facebook:before {
                        @include fa-icon();
                        content: $fa-var-facebook;
                    }
                    &.twitter:before {
                        @include fa-icon();
                        content: $fa-var-youtube-play;
                    }
                    &.courriel:before,
                    &.facebook:before,
                    &.twitter:before {
                        color:#58585a;
                        padding-left:20px;
                    }
                }

            }
            &#main-nav {
                margin-top: 45px;
                font-size:em(20); 

                text-transform: uppercase;

                li {
                    padding-left:35px;
                    line-height: 1;

                    &:first-child {
                        padding-left:0;
                    }
                    a {
                        color:#727274;
                        font-weight: 400;

                        &:hover,
                        &.selected {
                            color:#3ab596;
                        }

                        span {
                            display: block;
                            font-size: 14px;;
                        }
                    }
                }
            }
        }
        .content {
            margin-top: 65px;
            float:right;
            text-align: right;

            .title_page {
                color:#252525;
                font-size:em(30);
                line-height: 1.2;
                padding-bottom: 20px;
                strong {
                    color:#3ab596;
                }
            }
            strong {
                display: block;
                color:#58585a;
                font-size:em(18);
            }
        }
        br {
            clear: both;
        }
    }

    &.tiny {
        height: 200px;

        header {
            padding:50px 0 0 0;

            .logo {
                display: block;
                position: absolute;
                z-index:10;
                width: 220px;
                height: 205px;
                top:15px;
                left:40px;
                background-image: url('/application/images/comediestar-logo-tiny.png');
            }
        }

        .content {
            display: none;
        }
    }
}
@media only screen and (max-width: 915px) {
    header {
        display: none;
    }  
}

