Options +FollowSymlinks
RewriteEngine On

RewriteRule ^$ /index.php?section=docs&content=index [L]
RewriteRule ^/?$ /index.php?section=docs&content=index [L]
RewriteRule ^gui/?$ /index.php?section=gui&content=index [L]
RewriteRule ^docs/?$ /index.php?section=docs&content=index [L]

RewriteRule ^([^/]+)/([^/]+)\/?$ /index.php?section=$1&content=$2 [L]
